/Library
/Temp
/Project.CSharp.csproj
/Project.CSharp.Editor.csproj
/Project.sln
/VI50.CSharp.csproj
/VI50.CSharp.Editor.csproj
/VI50.sln
/Assembly-CSharp.csproj
/Assembly-CSharp-Editor.csproj
/Head Tracking.sln
